<mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Help Desk</mat-card-title>
      <mat-card-subtitle>Dicas de um DEV</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://imgur.com/aae5o7F.png" alt="Imagem de home-page">
    <mat-card-content>
      <p>
        Olá! Seja bem vindo ao sistema Help Desk desenvolvido por mim no curso Desenvolvedor Full Stack.br <br>
        Esse é um sistema para gerenciamento de chamados simulando um simples Help Desk desenvolvido em Angular e Spring Boot2. <br>
        O sistema está rodando em nuvem sendo front na Vercel e o Back na heroku. <br>
      </p>
    </mat-card-content>
  </mat-card>