.container {
    height: 100%;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(37, 97, 207, 1) 0%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form {
    width: 30rem;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
}

img {
    height: 15rem;
    width: 90%;
    margin: auto;
}

.full-width {
    width: 100%;
}

button {
    height: 4rem;
    width: 20rem;
    margin-left: 5rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background: rgba(2, 0, 36, 1);
    /* background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(37, 97, 207, 1) 0%, rgba(0, 212, 255, 1) 100%); */
    color: white;
}