<div class="container">

  <form class="form mat-elevation-z8">
    <h1>Help Desk - Acesse sua conta!</h1>

    <img src="https://i.imgur.com/bjCHu5x.png" alt="login-image">

    <mat-form-field class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="insira seu e-mail...">
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-label>Senha</mat-label>
      <input type="password" placeholder="insira sua senha...">
    </mat-form-field>

    <button class="full-width-button mat-elevation-z4" mat-stroked-button color="primary">Login</button>
  </form>  
</div>