<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">Excluir Cadastro de Técnico</h1>
        <img src="https://i.imgur.com/HhPUEAn.png" alt="Tecnico-Delete">

        <section class="section">
            <mat-checkbox [disabled]="true" class="margin" color="primary">Admin</mat-checkbox>
            <mat-checkbox [checked]="true" class="margin" color="primary">Tecnico</mat-checkbox>
        </section>        
            <mat-form-field appearance="fill" class="fullWidth">
              <mat-label>Nome</mat-label>
              <input matInput name="nome" [disabled]="true" [value]="tecnico.nome">
            </mat-form-field>

            <mat-form-field appearance="fill" class="fullWidth">
                <mat-label>CPF</mat-label>
                <input matInput name="cpf" [disabled]="true" [value]="tecnico.cpf">
              </mat-form-field>

              <mat-form-field appearance="fill" class="fullWidth">
                <mat-label>E-mail</mat-label>
                <input matInput name="email" [disabled]="true" [value]="tecnico.email">
              </mat-form-field>

              <mat-form-field appearance="fill" class="fullWidth">
                <mat-label>Senha</mat-label>
                <input matInput name="senha" type="password" [disabled]="true" [value]="tecnico.senha">
              </mat-form-field>

              <div class="findButton">
                <button type="button" (click)="delete()" mat-flat-button color="primary">Excluir</button>                
                <button mat-stroked-button (click)="cancelar()" color="primary">Cancelar</button>
              </div>
    </form>
    <p>Desenvolvido por Argeu Souza</p>
</div>